/* body{ background: #f4f7fb;
     font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
.card { border-radius: 12px; }
.nav-link.router-link-active { font-weight: 600; color: #0d6efd !important; }
.table thead th { background: transparent; border-bottom: 1px solid #e9eef5; } */

/* .ltr {
text-align: center;
} */
